!!! 5
%html
  %head
    %title= title

    %meta{charset: "utf-8"}
    %meta{name: "description", content: title}
    %meta{name: "author", content: "Peter Schröder"}
    %meta{name: "language", content: "german, de"}
    %meta{'http-equiv' => "refresh", content: "300; URL=/"}

    %link{rel: 'stylesheet', href: "/css/application.css?#{Time.now.to_i}", type: 'text/css'}
    %link{rel: 'shortcut icon', href: '/img/icon.png'}

    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", type: "text/javascript"}
    %script{src: "/js/application.js?#{Time.now.to_i}", type: "text/javascript"}

  %body
    %section
      %h1
        Hello
        %em= user
        you are working on
        %em= settings.env
        environment!
      - if repo_available?
        %form#deploy_form{method: :post, action: '/deploy'}
          %p
            %select{name: :rev}
              %option{value: '', selected: true} Select Revision
              = optgroup "Branches", branches
              = optgroup "Features", features
              = optgroup "Hotfixes", hotfixes
              = optgroup "Releases", releases
              = optgroup "Tags", tags
            %input{type: :submit, value: 'deploy!'}
            %span#spinner &nbsp;
        %form#action_form{method: :post, action: '/action'}
          %p
            %input{type: :submit, name: 'update_git', value: 'update project!'}
      - else
        %form#action_form{method: :post, action: '/action'}
          %p
            %input{type: :submit, name: 'clone_git', value: 'clone project!'}

    %section#log
      %p
        %textarea
      .polling
        Frequency:
        %a.freq{href: '#'} fast
        %a.freq{href: '#'} medium
        %a.freq{href: '#'} slow
        |
        %a#toggle_polling{href: '#'} stop

    %footer
      %h3
        Working on git-revision: #{describe}
